
// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        HEADER SECTION
-------------------------------*/

.header {
    height: 90vh;
    position: relative;
    background: url('../../assets/img/header-imgs/header-bg.jpeg') no-repeat center / cover;
    z-index: 100;
    overflow: hidden;

    @media(max-width:768px){
        @include flex(center, center, column nowrap, 0);
    }
    
    &__wrapper {
        @include position(absolute, 30%, auto, auto, 10%);
        width: 55%;

        @media(max-width:768px){
            @include flex(center, center, column nowrap, 0);
            position: unset;
            width: 88%;
            text-align: center;
        }

        .header__title {
            @include text(clamp(2.5rem, 2.7vw, 8rem), $yellow, $headers-font);
        }

        .header__p {
            @include text(clamp(1.3rem, 1.3vw, 2rem), $white);
            margin: 1.5rem 0;
        }

        // planets
        .header__earth, .header__moon, .header__star {

            @media(max-width:768px){
                display: none;
            }
        }

        .header__earth {
            @include position(absolute, 0%, -40%, auto, auto);
            width: 30%;
        }
        
        .header__moon {
            @include position(absolute, -20%, -10%, auto, auto);
            width: 3%;
        }

        .header__star{
            @include position(absolute, $top: -100%, $right: auto, $bottom: auto, $left: 150%);
            width: 15rem;
            z-index: -10;
        }
    }
}

