.header {
    height: 90vh;
    position: relative;
    background: url('../../assets/img/hero-bg.jpg') no-repeat center / cover, linear-gradient(to right, black, black);
    background-position-y: 100%;

    @media(max-width:768px){
        @include flex(center, center, column nowrap, 0);
    }
   

    &__wrapper {
        @include position(absolute, 30%, auto, auto, 10%);
        width: 60%;
        animation: header-slide 0.8s ease-in-out;

        @media(max-width:768px){
            position: unset;
            width: 88%;
            @include flex(center, center, column nowrap, 0);
            text-align: center;
        }

        .header__title {
            color: $yellow;
            font-size: clamp(2.3rem, 2.7vw, 7rem);
        }

        .header__p {
            font-size: clamp(1.3rem, 1.7vw, 4.5rem);
            color: $white;
            margin: 1.5rem 0;

            .header__span {
                color: $yellow;
            }
        }
    }
}