
// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        HEADER SECTION
-------------------------------*/

.header {
    height: 90vh;
    position: relative;
    background: url('../../assets/img/header-imgs/header-bg.jpeg') no-repeat center / cover;
    z-index: 100;
    overflow: hidden;
    @include flex(center, flex-start, column nowrap, 0);
    
    &__wrapper {
        width: 55%;
        margin-left: 7rem;

        @media(max-width:768px){
            @include flex(center, center, column nowrap, 0);
            width: 93%;
            text-align: center;
            margin:  0 auto;
        }

        .header__title {
            @include text(2.6rem, $yellow, $headers-font);

            @media(max-width:768px){
                @include text(2.2rem, $yellow, $headers-font);
            }
        }

        .header__p {
            @include text(1.33rem, $white);
            margin: 1.5rem 0;

            @media(max-width:768px){
                @include text(1.2rem, $white);
            }
        }

        .header__span {
            color: $yellow;
        }

        // planets
        .header__earth, .header__moon .header__star {

            @media(max-width:768px){
                display: none;
            }
        }

        .header__earth {
            @include position(absolute, 0%, -40%, auto, auto);
            width: 30%;
        }
        
        .header__moon {
            @include position(absolute, -20%, -10%, auto, auto);
            width: 3%;
        }

        .header__star{
            @include position(absolute, $top: -100%, $right: auto, $bottom: auto, $left: 150%);
            width: 15rem;
            z-index: -10;
        }
    }
}

