
// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        NAV SECTION
-------------------------------*/

.nav {
    background: linear-gradient(to right, #21262c, #0B2132) ;
    padding: 7px 0;
    position: relative;
    z-index: 200;

    &__wrapper {
        @include flex(space-between);
        width: 80%;
        margin: 0px auto;

        .nav__logo {

            .nav__image {
                @include width-height(4.063rem, 4.063rem);
                border-radius: 5px;
                margin: 5px;
            }
        }

        .nav__list {
            display: flex;
            transition: 0.2s all ease-in-out;

            @media(max-width:768px) {
                @include position(absolute, 100%, 0, auto, 0);
                @include flex(flex-start, center, column nowrap, 1rem);
                background-color: #21262c;
                padding: 1rem 0;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            }

            &.showJS {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                
            }

            .nav__item {
                position: relative;
                z-index: 1;

                &::before {
                    content: "";
                    @include position(absolute, 100%, auto, auto, 10%);
                    @include width-height(80%, 5%);
                    background: $yellow;
                    z-index: -10;
                    transform: scale(0);
                    transition: 0.3s ease-in-out;
                }

                &:hover {

                    &::before {
                        transform: scale(1);
                    }
                }

                .nav__link {
                    @include text(1.3rem, $white);
                    padding: 1rem;
                    text-transform: capitalize;

                    &:hover {
                        color: $yellow;
                    }
                }
            }

        }
    }

    .nav__btn {
        display: none;
        color: $white;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        
        &:hover {
            transform: rotate(180deg);
            color: $yellow;
        }

        @media(max-width:768px) {
            display: block;
        }
    }
}

