
// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*-------------------------------
        PROJECTS SECTION
-------------------------------*/

.projects {
    text-align: center;
    @include flex(center, flex-start, row nowrap, 0);
    color: $gray-text;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;
        background-color: transparent;
        place-items: center;
        

        @media(max-width:1400px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media(max-width:768px) {
            grid-template-columns: repeat(1, 1fr);

        }

        .projects__item-global {
            width: 300px;
            box-shadow: $box-shadow;
            border-radius: 5px;


            // all project pictures (thumbnails)
            .projects__one__img {
                background: url('../../assets/img/projects-imgs/card-one.jpg') no-repeat center / cover;
            }

            .projects__two__img {
                background: url('../../assets/img/projects-imgs/card-two.png') no-repeat center / cover;
            }

            .projects__three__img {
                background: url("../../assets/img/projects-imgs/card-three.png") no-repeat center / cover;
            }

            .projects__four__img {
                background: url("../../assets/img/projects-imgs/card-four.png") no-repeat center / cover;
            }

            .projects__global__img {
                height: 300px;
                border-radius: 5px 5px 0 0;
            }

            .projects__text {
                padding: 2rem 1.3rem;
                background-color: 5px;
                border-radius: 0 0 5px 5px;
                background: $pure-white;

                .projects__h3 {
                    font-size: 1.4rem;
                    margin: 1rem 0;
                    font-family: $headers-font;
                }

                .projects__p {
                    margin: 1.3rem 0 3rem 0;
                }

                .projects__btn__container {
                    @include flex(center, center, row nowrap, 1rem);
                }
            }
        }
    }
}