
// modules used
@use '../modules/global' as *;
@use '../modules/mixins' as *;
@use '../modules/variables' as *; 

/*---------------------------------
    STYLING FOR "thankYou.html"
---------------------------------*/

.thankYou__wrapper {
    @include flex(center, center, column nowrap, 0rem);

    .thankYou__header {
        @include flex(center, center, column nowrap, 0rem);
        @include margin-padding(3rem 2rem, 3rem);
        border-radius: 5px;
        background-color: $pure-white;
        width: 27rem;
        box-shadow: $box-shadow;
    
        @media(max-width:480px){
            @include margin-padding(3rem 1rem, 3rem 2rem);
            width: 90%;
        }
    
        .thankYou__h1 {
            @include text(1.7rem, $gray-text, $headers-font);
        }
    
        .thankYou__p{
            margin-bottom: 1.5rem;
        }
    }
}

