* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='441' height='441' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E9E7E7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EDEBEB'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.btn__global {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  border-radius: 3.125rem;
  position: relative;
  overflow: hidden;
  background-color: #FFC654;
}
.btn__global::after {
  position: absolute;
  top: auto;
  right: auto;
  bottom: auto;
  left: -300%;
  width: 300%;
  height: 550%;
  content: "";
  display: block;
  transform: rotate(45deg);
  background-color: #F7B42D;
  transition: all 0.3s ease-in-out;
}
.btn__global:hover::after {
  left: -100%;
}
.btn__global a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  font-size: 0.85rem;
  color: #4d5055;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: 3.125rem;
  border: 1px solid #FFC654;
  z-index: 30;
  padding: 9px 0;
  width: 10rem;
}
.btn__global a:hover {
  border: 1px solid #F7B42D;
}
.btn__global a:focus {
  border: 1px solid dimgray;
}

.icons__global {
  display: flex;
  gap: 1rem;
}
.icons__global a {
  border-radius: 50px;
  transition: 0.2s all ease-in-out;
}
.icons__global a:hover {
  transform: scale(1.3);
}
.icons__global img {
  width: 2.813rem;
  height: 2.813rem;
  display: flex;
}

#section__title__global {
  font-size: 3rem;
  color: #4d5055;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  width: fit-content;
  margin: 7rem auto 3rem auto;
}
#section__title__global::after {
  content: "";
  position: absolute;
  top: auto;
  right: auto;
  bottom: -20%;
  left: 50%;
  width: 5rem;
  height: 8%;
  background-color: #FFC654;
  transform: translate(-50%);
}

#link__properties__global {
  color: #2E72B2;
  text-decoration: underline;
}
#link__properties__global:hover {
  background: radial-gradient(circle, #2E72B2 0%, #3C87CD 16%, #D8AD48 32%, #F7B42D 49%, #D8AD48 66%, #3C87CD 84%, #2E72B2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 2s ease-in-out infinite alternate;
  background-size: 400%;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.revealHeaderJS {
  position: relative;
  transform: translateX(-3rem);
  opacity: 0;
  transition: all 1s ease-in-out;
  filter: blur(5px);
}

.revealHeaderJS.active {
  transform: translateX(0rem);
  opacity: 1;
  filter: blur(0px);
}

.revealSectionJS {
  position: relative;
  transform: translateY(3rem);
  opacity: 0;
  transition: all 0.6s ease-in-out;
  filter: blur(5px);
}

.revealSectionJS.active {
  transform: translateY(0rem);
  opacity: 1;
  filter: blur(0px);
}

.preloader {
  position: fixed;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='441' height='441' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E9E7E7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EDEBEB'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.preloader__animation {
  transform: rotate(13deg);
  width: 10vw;
  min-width: 9rem;
  margin-bottom: 1rem;
}
.preloader__h1 {
  font-size: clamp(1.3rem, 1.7vw, 2rem);
  color: #4d5055;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
}

/*-------------------------------
        NAV SECTION
-------------------------------*/
.nav {
  background-color: #21262c;
  padding: 7px 0;
  position: relative;
  z-index: 200;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  width: 80%;
  margin: 0px auto;
}
.nav__wrapper .nav__logo .nav__image {
  width: 4.063rem;
  height: 4.063rem;
  border-radius: 5px;
  margin: 5px;
}
.nav__wrapper .nav__list {
  display: flex;
  transition: 0.2s all ease-in-out;
}
@media (max-width: 768px) {
  .nav__wrapper .nav__list {
    position: absolute;
    top: 100%;
    right: 0;
    bottom: auto;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1rem;
    background-color: #21262c;
    padding: 1rem 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
.nav__wrapper .nav__list.show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.nav__wrapper .nav__list .nav__item {
  position: relative;
  z-index: 1;
}
.nav__wrapper .nav__list .nav__item::before {
  content: "";
  position: absolute;
  top: 100%;
  right: auto;
  bottom: auto;
  left: 10%;
  width: 80%;
  height: 5%;
  background: #FFC654;
  z-index: -10;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.nav__wrapper .nav__list .nav__item:hover::before {
  transform: scale(1);
}
.nav__wrapper .nav__list .nav__item .nav__link {
  font-size: 1.3rem;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  padding: 1rem;
  text-transform: capitalize;
}
.nav__wrapper .nav__list .nav__item .nav__link:hover {
  color: #FFC654;
}
.nav .nav__btn {
  display: none;
  color: #f1f1f1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav .nav__btn:hover {
  transform: rotate(180deg);
  color: #FFC654;
}
@media (max-width: 768px) {
  .nav .nav__btn {
    display: block;
  }
}

/*-------------------------------
        HEADER SECTION
-------------------------------*/
.header {
  height: 90vh;
  position: relative;
  background: url("../../assets/img/header-imgs/header-bg.jpg") no-repeat center/cover;
  z-index: 100;
  overflow: hidden;
}
@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0;
  }
}
.header__wrapper {
  position: absolute;
  top: 30%;
  right: auto;
  bottom: auto;
  left: 10%;
  width: 55%;
}
@media (max-width: 768px) {
  .header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 0;
    position: unset;
    width: 88%;
    text-align: center;
  }
}
.header__wrapper .header__title {
  font-size: clamp(2.5rem, 2.7vw, 8rem);
  color: #FFC654;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
}
.header__wrapper .header__p {
  font-size: clamp(1.3rem, 1.3vw, 2rem);
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  margin: 1.5rem 0;
}
@media (max-width: 768px) {
  .header__wrapper .header__earth, .header__wrapper .header__moon, .header__wrapper .header__star {
    display: none;
  }
}
.header__wrapper .header__earth {
  position: absolute;
  top: 0%;
  right: -40%;
  bottom: auto;
  left: auto;
  width: 30%;
}
.header__wrapper .header__moon {
  position: absolute;
  top: -20%;
  right: -10%;
  bottom: auto;
  left: auto;
  width: 3%;
}
.header__wrapper .header__star {
  position: absolute;
  top: -100%;
  right: auto;
  bottom: auto;
  left: 150%;
  width: 15rem;
  z-index: -10;
}

/*-------------------------------
        ABOUT SECTION
-------------------------------*/
.about {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
  gap: 0;
  color: #4d5055;
}
.about__wrapper {
  margin: 0 2rem;
  padding: 2.5rem;
  background-color: white;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 70rem;
}
.about__wrapper .about__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  gap: 3rem;
}
@media (max-width: 1024px) {
  .about__wrapper .about__content {
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .about__wrapper .about__content {
    gap: 1.5rem;
  }
}
.about__wrapper .about__content .about__item:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row nowrap;
  gap: 2rem;
}
.about__wrapper .about__content .about__item:first-child img {
  width: 10rem;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .about__wrapper .about__content .about__item:first-child {
    flex-direction: column;
    margin: 0px auto;
  }
}
@media (max-width: 480px) {
  .about__wrapper .about__content .about__item:first-child .about__personal-info {
    text-align: center;
  }
}
.about__wrapper .about__content .about__item:first-child .about__personal-info .about__p {
  margin-bottom: 0.8rem;
  font-weight: bold;
}
.about__wrapper .about__content .about__item:first-child .about__personal-info .about__p span {
  font-weight: normal;
}
.about__wrapper .about__content .about__item .about__title {
  font-size: 1.3rem;
  color: auto;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  .about__wrapper .about__content .about__item .about__title {
    text-align: center;
  }
}
.about__wrapper .about__content .about__item .about__desc {
  line-height: 1.5;
}
@media (max-width: 480px) {
  .about__wrapper .about__content .about__item .about__desc {
    text-align: center;
  }
}
.about__wrapper .about__btn {
  margin: 2.5rem auto 0 auto;
}
.about__wrapper .about__btn a {
  width: 15rem;
}

/*-------------------------------
        SKILLS SECTION
-------------------------------*/
.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 4rem;
  padding: 2.5rem 0rem;
  background: url("../../assets/img/skills-imgs/skills-bkgr.jpg") no-repeat center;
}
.skills__wrapper {
  justify-content: center;
  width: 56.25rem;
  gap: 1.5rem;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
@media (max-width: 1200px) {
  .skills__wrapper {
    grid-template-columns: repeat(4, 1fr);
    width: 43.75rem;
  }
}
@media (max-width: 768px) {
  .skills__wrapper {
    grid-template-columns: repeat(2, 1fr);
    width: 18.75rem;
  }
}
.skills__wrapper .skills__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0;
}
.skills__wrapper .skills__card p {
  color: #f1f1f1;
}
.skills__wrapper .skills__card .skills__global {
  width: 7rem;
  height: 7rem;
}
@media (max-width: 480px) {
  .skills__wrapper .skills__card .skills__global {
    width: 5rem;
    height: 5rem;
  }
}

/*--- skills section images ---*/
.skills__html {
  background: url("../../assets/img/skills-imgs/html.png") no-repeat center/cover;
}

.skills__css {
  background: url("../../assets/img/skills-imgs/css.png") no-repeat center/cover;
}

.skills__js {
  background: url("../../assets/img/skills-imgs/js.png") no-repeat center/cover;
}

.skills__git {
  background: url("../../assets/img/skills-imgs/git.png") no-repeat center/cover;
}

.skills__sass {
  background: url("../../assets/img/skills-imgs/sass.png") no-repeat center/cover;
}

.skills__bootstrap {
  background: url("../../assets/img/skills-imgs/bootstrap.png") no-repeat center/cover;
}

.skills__photoshop {
  background: url("../../assets/img/skills-imgs/photoshop.png") no-repeat center/cover;
}

.skills__figma {
  background: url("../../assets/img/skills-imgs/figma.png") no-repeat center/cover;
}

/*-------------------------------
        PROJECTS SECTION
-------------------------------*/
.projects {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row nowrap;
  gap: 0;
  text-align: center;
  color: #4d5055;
}
.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  background-color: transparent;
  place-items: center;
}
@media (max-width: 1400px) {
  .projects__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .projects__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.projects__wrapper .projects__item-global {
  width: 18.75rem;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.projects__wrapper .projects__item-global .projects__one__img {
  background: url("../../assets/img/projects-imgs/card-one.jpg") no-repeat center/cover;
}
.projects__wrapper .projects__item-global .projects__two__img {
  background: url("../../assets/img/projects-imgs/card-two.png") no-repeat center/cover;
}
.projects__wrapper .projects__item-global .projects__three__img {
  background: url("../../assets/img/projects-imgs/card-three.png") no-repeat center/cover;
}
.projects__wrapper .projects__item-global .projects__four__img {
  background: url("../../assets/img/projects-imgs/card-four.png") no-repeat center/cover;
}
.projects__wrapper .projects__item-global .projects__global__img {
  height: 18.75rem;
  border-radius: 5px 5px 0 0;
}
.projects__wrapper .projects__item-global .projects__text {
  padding: 2rem 1.3rem;
  border-radius: 0 0 5px 5px;
  background: white;
}
.projects__wrapper .projects__item-global .projects__text .projects__h3 {
  font-size: 1.4rem;
  color: auto;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  margin: 1rem 0;
}
.projects__wrapper .projects__item-global .projects__text .projects__p {
  margin: 1.3rem 0 3rem 0;
}
.projects__wrapper .projects__item-global .projects__text .projects__btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  gap: 1rem;
}

/*-------------------------------
        FOOTER SECTION
-------------------------------*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0;
  margin: 7rem 0 0 0;
  padding: 6rem 0 3rem 0;
  background: url("../../assets/img/footer-bg.jpg") no-repeat fixed center/cover;
  color: #4d5055;
}
.footer__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row nowrap;
  gap: 3rem;
  margin: 0 2rem;
  padding: 2.5rem;
  max-width: 70rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__wrapper .footer__item .footer__title {
  font-size: 1.5rem;
  color: auto;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  position: relative;
  margin-bottom: 2rem;
}
.footer__wrapper .footer__item .footer__title::after {
  content: "";
  position: absolute;
  top: 120%;
  right: auto;
  bottom: auto;
  left: 0%;
  width: 5rem;
  height: 10%;
  background-color: #FFC654;
}
.footer__wrapper .footer__item.footer__item__one {
  flex: 1;
}
.footer__wrapper .footer__item.footer__item__one input {
  width: 100%;
  height: 2.188rem;
  margin: 0 0 1rem 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px #4d5055 solid;
  display: block;
}
.footer__wrapper .footer__item.footer__item__one textarea {
  font-size: 0.9rem;
  color: auto;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: 5px;
  border: 1px #4d5055 solid;
  padding: 10px;
  width: 100%;
}
.footer__wrapper .footer__item.footer__item__one .footer__btn {
  margin: 1rem 0 0 0;
  padding: 1px 0;
  width: 7.6rem;
  cursor: pointer;
  border: 1px solid #FFC654;
}
.footer__wrapper .footer__item.footer__item__one .footer__btn:focus {
  border: 1px solid dimgray;
}
.footer__wrapper .footer__item.footer__item__one .footer__btn span {
  padding: 8px 0;
  z-index: 50;
  font-size: 0.85rem;
}
.footer__wrapper .footer__item.footer__item__two {
  flex: 1.2;
}
.footer__wrapper .footer__item.footer__item__two .footer__social {
  margin-top: 1rem;
}
.footer__copyright {
  font-size: 0.7rem;
  color: #D3D3D3;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5rem;
}
.footer__copyright__a {
  font-size: 1.05rem;
  color: #FFC654;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
}
.footer__copyright__a:hover {
  color: #F7B42D;
}

/*---------------------------------
    STYLING FOR "thankYou.html"
---------------------------------*/
.thankYou__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0rem;
}
.thankYou__wrapper .thankYou__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 0rem;
  margin: 3rem 2rem;
  padding: 3rem;
  border-radius: 5px;
  background-color: white;
  width: 27rem;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
  .thankYou__wrapper .thankYou__header {
    margin: 3rem 1rem;
    padding: 3rem 2rem;
    width: 90%;
  }
}
.thankYou__wrapper .thankYou__header .thankYou__h1 {
  font-size: 1.7rem;
  color: #4d5055;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  border-radius: none;
  border: none;
}
.thankYou__wrapper .thankYou__header .thankYou__p {
  margin-bottom: 1.5rem;
}

/*-------------------------------
            PARTIALS
-------------------------------*/

/*# sourceMappingURL=style.css.map */
